@import url("https://fonts.googleapis.com/css?family=Mukta+Malar:200|Poppins:200,400,900");
.intime { width: 380px; padding: 5px; border: 1px solid #e8e8e8; background-color: #e8e8e8; margin: auto; }
.troubleis { width: 350px; box-shadow: 1px 1px 5px #484848; padding: 10px; border: 1px solid #e8e8e8; background-color: #fff; margin: auto;  border-top: 0; }
.mrswhatsit { width: 100px; padding: 5px; border: 1px solid #e8e8e8; }
.mrswhatsit img { width: 100px; height: auto; }
.mrswhich { width: 158px; padding: 5px; border: 1px solid #e8e8e8; }
.mrswhich img { width: 158px; height: auto; } 
.mrswho { width: 330px; padding: 5px; border: 1px solid #e8e8e8; }
.mrswho img { width: 330px; height: auto; } 
.it {width: 330px; padding: 5px; border: 1px solid #e8e8e8; }
.it iframe { width: 330px; height: auto; }
.polyokeefe { width: 300px; margin-left: 10px; text-align: justify; font-family: 'Poppins', sans-serif; font-weight: 400; text-transform: lowercase; font-size: 12px; color: #808080; letter-spacing: 5px; line-height: 100%; padding: 10px; }
.rosy { width: 300px; text-align: justify; font-family: 'Poppins', sans-serif; font-weight: 400; padding: 10px; }
.rosy word { font-size: 24px; color: #808080; letter-spacing: 1px; line-height: 100%; }
.rosy sub { font-size: 12px; color: #808080; letter-spacing: 1px; line-height: 100%; }
.rosy content { font-size: 10px; color: #808080; letter-spacing: 2px; line-height: 100%; }
.xan { width: 300px; font-family: 'Poppins', sans-serif; font-weight: 200; text-transform: uppercase; text-align: center; font-size: 10px; letter-spacing: 5px; color: #484848; float: right; line-height: 5%;}
.mrmurry { width: 40px; font-family: 'Arial', sans-serif; font-weight: 900; text-transform: lowercase; font-size: 60px; letter-spacing: -2px; line-height: 20%; color: #e8e8e8; text-shadow: 1px 1px 5px #484848; padding-top: 25px; float: right; }
.mrsmurry { width: 330px; height: auto; padding: 5px; border: 1px solid #e8e8e8; background-color: #fff; } 
.happymedium { width: 336px; padding: 5px; border: 2px solid #e8e8e8; background-color: #e8e8e8; }
.charleswallace { width: 270px; margin-left: 10px; text-align: right; font-family: 'Poppins', sans-serif; font-weight: 900; text-transform: lowercase; font-size: 30px; letter-spacing: -2px; line-height: 20%; color: #e8e8e8; text-shadow: 1px 1px 5px #484848; padding-top: 15px; }
.charleswallace ms { display: block; text-shadow: 0px 0px 0px #f5f5f5; font-weight: 200; text-transform: uppercase; font-size: 10px; color:#484848; letter-spacing: 7px; line-height: 100%; padding-bottom: 5px; }
.charleswallacem { width: 50px; padding: 0px; border: 0px solid #fff; }
.charleswallacem img { width: 50px; padding: 0px; webkit-filter: grayscale(100%); filter: grayscale(90%); }
.charleswallaceoption { width: 320px; margin-left: 10px; text-align: justify; font-family: 'Poppins', sans-serif; text-shadow: 0px 0px 0px #f5f5f5; font-weight: 200; text-transform: uppercase; font-size: 10px; color:#484848; letter-spacing: 7px; line-height: 100%; padding-bottom: 5px; }
.peggy { margin: 20px; border-top: 1px dashed #8c8b8b; text-align: center; } 
.peggy:after { content: '❝'; display: inline-block; position: relative; top: -8px; padding: 0 0px; background: #e8e8e8; color: #8c8b8b; font-size: 18px; }
